
.md\:text-5xl {
    font-size: 1.25rem !important;
}

.mat-form-field{
    width: 80% !important;
    margin-left: 5% !important;
}


.bhead{
    background-color: #32409a !important;
    color: white;
}

.thead{
    color: #32409a !important;
}

.background{
    background-color: #C5FCEE !important;
}

.back{
    background-color: #E5F2FF !important;
}

.txt{
    color: #1E9677 !important;
}

.clr{
    color: #32409a !important;
}

.px-7 {
    padding-left: 0.5rem !important;
    padding-right: 1.75rem !important;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start
}


