<div class="flex flex-col flex-auto min-w-0">

    <div class="bg-card">
        <div class="w-full mx-auto">
            <div class="flex flex-col px-8 sm:flex-row flex-auto sm:items-center min-w-0 my-4 sm:my-4">
                <div class="flex flex-auto items-center min-w-0">
                    <div class="text-2xl font-semibold md:text-2xl tracking-tight leading-7 md:leading-snug truncate">
                        <b>Gallery</b>
                    </div>
                </div>
                <!--Actions -->
                <button
                    class="mr-2"
                    style="background-color: #808382 !important; color: white !important;"
                    mat-stroked-button routerLink="/gallery/add">
                    <mat-icon style="color: white !important;">add</mat-icon>
                    Add Image
                </button>
            </div>
        </div>
    </div>
            <div class="bg-white  border example-container mat-elevation-z8 mx-16 my-10">

                <div class="row py-2">
                    <div class="col-lg-12 col-sm-12 " >

                        <div *ngIf="imageUrl.length>0 && visible" class="mt-2 overflow-x-hidden overflow-y-auto "
                             style="display: flex !important;flex-direction: row !important;flex-wrap: wrap !important;gap: 10px; height: 75vh;">
                            <div *ngFor='let url of imageUrl; let i = index'>
                                <!-- <button *ngIf="!viewonly" (click)="removeImage(url,i)">
                                    X"
                                </button> -->
                                <div class="row">
                                    <div class="col-lg-12  text-right relative">
                                        <div class="bg-white float-right">
                                            <button (click)="removeImage(i,url?.Id)"
                                                    class="close-button float-right absolute right-4 top-0 bg-red-500"
                                                    mat-icon-button>
                                                <!-- X -->
                                                <mat-icon class="close-icon w-12 h-12 text-white bg-danger">close</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div style="width: 240px; position: relative;">
                                    <img (click)="previewImg(baseUrl+url?.GalleryImage)" [src]="baseUrl+url?.GalleryImage">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="text-center text-blue mt-48 font-bold text-3xl" *ngIf="imageUrl?.length===0">
                    <svg width="45" height="57" class="mb-6" style="width: 100%;" viewBox="0 0 186 236" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M98.7578 76.125V19.5938H19.7188V216.406H166.281V87.1172H109.75C106.835 87.1172 104.039 85.9591 101.977 83.8977C99.9159 81.8362 98.7578 79.0403 98.7578 76.125V76.125ZM84.625 101.25C84.625 100.098 85.5672 99.1562 86.7188 99.1562H99.2812C100.433 99.1562 101.375 100.098 101.375 101.25V149.406C101.375 150.558 100.433 151.5 99.2812 151.5H86.7188C85.5672 151.5 84.625 150.558 84.625 149.406V101.25ZM93 189.188C87.216 189.188 82.5312 184.503 82.5312 178.719C82.5312 172.935 87.216 168.25 93 168.25C98.784 168.25 103.469 172.935 103.469 178.719C103.469 184.503 98.784 189.188 93 189.188Z"
                            fill="#808382" fill-opacity="0.15"/>
                        <path
                            d="M182.665 59.532L126.343 3.21016C124.773 1.63984 122.653 0.75 120.428 0.75H9.25C4.61758 0.75 0.875 4.49258 0.875 9.125V226.875C0.875 231.507 4.61758 235.25 9.25 235.25H176.75C181.382 235.25 185.125 231.507 185.125 226.875V65.473C185.125 63.2484 184.235 61.1023 182.665 59.532ZM116.555 20.0648L165.81 69.3203H116.555V20.0648ZM166.281 216.406H19.7188V19.5938H98.7578V76.125C98.7578 79.0403 99.9159 81.8362 101.977 83.8977C104.039 85.9591 106.835 87.1172 109.75 87.1172H166.281V216.406Z"
                            fill="#808382"/>
                        <path
                            d="M86.7188 151.5H99.2812C100.433 151.5 101.375 150.558 101.375 149.406V101.25C101.375 100.098 100.433 99.1562 99.2812 99.1562H86.7188C85.5672 99.1562 84.625 100.098 84.625 101.25V149.406C84.625 150.558 85.5672 151.5 86.7188 151.5ZM82.5312 178.719C82.5312 181.495 83.6342 184.158 85.5975 186.121C87.5607 188.085 90.2235 189.188 93 189.188C95.7765 189.188 98.4393 188.085 100.403 186.121C102.366 184.158 103.469 181.495 103.469 178.719C103.469 175.942 102.366 173.279 100.403 171.316C98.4393 169.353 95.7765 168.25 93 168.25C90.2235 168.25 87.5607 169.353 85.5975 171.316C83.6342 173.279 82.5312 175.942 82.5312 178.719Z"
                            fill="#808382"/>
                    </svg>
                    No Image Found
                </div>

            </div>
            <div>
        <div
            class="bg-white rounded-md shadow mt-4 px-4 py-3 flex items-center justify-between border-gray-200  row-cols-1 row-cols-md-3 g-3">
            <mat-paginator #MatPaginator [pageSizeOptions]="[10, 20, 30]"
                           showFirstLastButtons
                           aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </div>
</div>
