<div class="relative hidden md:flex flex-auto items-center justify-center  overflow-hidden" style="background-image: url('../../assets/back.jpg'); background-repeat: no-repeat; background-size: 100% 100%;">
    <div
        class="md:flex md:items-center md:justify-end w-full sm:w-auto      " >
        <div class="w-full sm:w-100 mx-auto sm:mx-0 py-4 px-8 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none " style="background: #f7f7f7">
            <!-- Logo -->
            <img src="assets/images/logo/logo.jfif" class="mx-auto" style="width: 200px;">
<!--            <div class="mt-2 text-2xl font-extrabold tracking-tight leading-tight w-full">-->
<!--                <h1 style="color: #e12025">Span</h1>-->
<!--            </div>-->

            <!-- Title -->
            <div class="mt-8 text-2xl font-extrabold tracking-tight leading-tight">Sign in</div>
<!--            <div class="flex items-baseline mt-0.5 font-medium">-->
<!--                <div>Don't have an account?</div>-->
<!--                <a-->
<!--                    class="ml-1 text-primary-500 hover:underline"-->
<!--                    [routerLink]="['/sign-up']">Sign up-->
<!--                </a>-->
<!--            </div>-->

            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign in form -->
            <form
                class="mt-8"
                [formGroup]="signInForm"
                #signInNgForm="ngForm">

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>UserName</mat-label>
                    <input
                        id="email"
                        matInput
                        [formControlName]="'UserName'">
                    <mat-error *ngIf="signInForm.get('UserName').hasError('required')">
                        UserName is required
                    </mat-error>

                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input
                        id="password"
                        matInput
                        type="password"
                        [formControlName]="'Password'"
                        #passwordField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <!-- Actions -->
<!--                <div class="inline-flex items-end justify-between w-full mt-1.5">-->
<!--                    <mat-checkbox-->
<!--                        [color]="'primary'"-->
<!--                        [formControlName]="'rememberMe'">-->
<!--                        Remember me-->
<!--                    </mat-checkbox>-->
<!--                </div>-->

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    style="background-color: #808382 !important; color: white !important;"
                    [disabled]="signInForm.disabled"
                    (click)="signIn()">
                    <span *ngIf="!signInForm.disabled">
                        Sign in
                    </span>
                    <mat-progress-spinner
                        *ngIf="signInForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </form>
        </div>
    </div>
</div>

