<div class="flex flex-col flex-auto min-w-0">


    <div class="sm:col-span-2 lg:col-span-3  flex flex-col mt-3 my-8 ml-5 mr-5">
        <div class="overflow-x-auto w-full">
            <div class="overflow-auto bg-white border example-container mat-elevation-z8" >
                <div class="bg-card">
                    <div class="w-full mx-auto">
                        <div class="flex flex-col px-8 sm:flex-row flex-auto sm:items-center min-w-0 my-4 sm:my-4">
                            <div class="flex flex-auto items-center min-w-0">
                                <div class="text-2xl font-semibold md:text-2xl tracking-tight leading-7 md:leading-snug truncate">
                                    <b>Add  Image</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div [formGroup]="ProductForm" class="row py-2">
                    <div class="col-lg-12 col-sm-12">
                        <input (change)="onSelectFile($event)" (click)="ifResetRequired()" accept="image/jpg, image/jpeg, image/png"
                               formControlName="file" type='file'/>
                        <div *ngIf="imageUrl.length>0" class="mt-2 overflow-scroll"
                             style="display: flex !important;flex-direction: row !important;flex-wrap: wrap !important;gap: 10px">
                            <div *ngFor='let url of imageUrl; let i = index'>
                                <div class="row">
                                    <div class="col-lg-12  text-right relative">
                                        <div class="bg-white float-right">
                                            <button (click)="removeImage(url,i)"
                                                    class="close-button float-right absolute right-4 top-0 bg-red-500"
                                                    mat-icon-button>
                                                <!-- X -->
                                                <mat-icon class="close-icon w-12 h-12 text-white bg-danger">close</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
<!--                                (click)="previewImg(url)"-->
                                <div style="width: 240px; position: relative;">
                                    <img  [src]="url">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <button
                    class="mr-2"
                    style="background-color: #32409a !important; color: white !important;"
                    mat-stroked-button (click)="onSubmit()">
                    <mat-icon style="color: white !important;">add</mat-icon>
                    Submit
                </button>
            </div>
        </div>

    </div>
</div>
